[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.16.0"
pandas = "*"
plotly = "*"
streamlit-aggrid = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
